@charset "utf-8";
//
// このユーティリティクラスは z-index を利用します。z-index をサイト全体で
// 管理する必要がある場合は、_settings.scss で以下の変数を定義してください。
//
$z-expand-link: 1 !default;
$z-over-expand-link: $z-expand-link + 1 !default;

// ------------------------------------------------------------------
// 要素へのリンクをコンポーネント全体に拡張する
//
// Note:
// - コンポーネント内の要素に使うことを想定しています。
// - コンポーネントのルート要素の position は static 以外にしてください。
// - コンポーネント外側の余白までリンク領域を広げたい場合は、余白を
//   定義しているコンポーネント側で top ～ left を調整してください。
//
.u-expand-link {
  &::after {
    z-index: $z-expand-link;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
  }
}

// ------------------------------------------------------------------
// u-expand-link のリンク領域内にボタンなどを乗せる
//
// Note:
// - コンポーネント内のボタンなどに使うことを想定しています。
//
.u-over-expand-link {
  position: relative;
  z-index: $z-over-expand-link;
}
