@charset "utf-8";

@import "../functions";

// ------------------------------------------------------------------
// margin-bottomを追加するユーティリティクラスを作成するmixin
//
// @param {number} $space - margin-bottom
//
// Usage:
// @include u-mb(10px);
//   ↓
// .u-mb10 { margin-bottom: 10px; }
//
@mixin u-mb($space) {
  .u-mb#{strip-unit($space)} {
    margin-bottom: $space;
  }
}

// ------------------------------------------------------------------
// u-mb* クラスを一度に複数作るmixin
//
// @param {list} $spaces - margin-bottomのリスト
//
// Usage:
// @include u-mb-list(10px, 20px);
//   ↓
// .u-mb10 { margin-bottom: 10px; }
// .u-mb20 { margin-bottom: 20px; }
//
@mixin u-mb-list($spaces...) {
  @each $space in $spaces {
    @include u-mb($space);
  }
}
